@import "tailwindcss";

@theme inline {
  --color-primary: #6b6dfd;
  --color-secondary: #4338ca;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light: #eef1f5;
  --color-dark: #1f2937;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@utility container {
  @apply w-[90%] mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1180px] 2xl:max-w-[1320px];
}

body {
  background: var(--color-white);
  color: var(--color-dark);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
button {
  @apply cursor-pointer;
}
h1 {
  @apply text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight tracking-tight;
}

h2 {
  @apply text-3xl sm:text-4xl lg:text-4xl font-bold leading-tight tracking-tight;
}

h3 {
  @apply text-2xl font-semibold leading-snug;
}

h4 {
  @apply text-xl sm:text-2xl lg:text-xl font-semibold leading-snug;
}

h5 {
  @apply text-lg sm:text-xl lg:text-2xl font-medium leading-snug;
}

h6 {
  @apply text-base sm:text-lg lg:text-xl font-medium leading-snug;
}

p {
  @apply leading-relaxed;
}
